{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Syllabus Dashboard{% endblock %}</title>
  <!--bootstrap CSS-->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom CSS ONLY -->
  <link rel="stylesheet" href="{% static 'assets/css/menus.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/cou_manage.css' %}">

  {% block extra_css %}{% endblock %}
</head>
<body>

<div class="layout">

  <!-- Sidebar + header -->
  {% include "menus.html" %}

  <!-- Page body -->
  <main class="page-wrapper">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>

</div>
 <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
