{% load static %}

<!-- SIDEBAR -->
<aside class="sidebar">
    <div class="brand">
        <img src="{% static 'assets/images/logo.png' %}" class="college-logo" alt="logo">

        <div class="brand-text">
            <div class="college-name">
                JAMAL MOHAMED COLLEGE
            </div>
            <div class="college-campus">
                (Autonomous) TIRUCHIRAPPALLI
            </div>
        </div>
    </div>
<nav class="menu">
        <a href="{% url 'core:dashboard' %}" class="menu-item">
        <span class="icon">🏠</span>
        <span class="menu-text">Dashboard</span>
    </a>

    <li class="menu-item">
    <div class="menu-toggle" onclick="toggleLoginMenu()">
        <span>
            <i class="icon">↪</i>
            {% if user.is_authenticated %}
                {{ user.username }}
            {% else %}
                Login
            {% endif %}
        </span>
        <span id="login-arrow">▼</span>
    </div>
    
            <ul class="submenu" id="login-submenu">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'core:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'core:login' %}">ADMIN</a></li>
                    <li><a href="{% url 'core:login' %}">HOD</a></li>
                {% endif %}
            </ul>
        
        <a href="{% url 'course_manage:course_management' %}" class="menu-item">
            <span class="icon">📚</span>
            <span>Course Management</span>
    </a>

        <a href="{% url 'program_manage:program_management' %}" class="menu-item">
            <span class="icon">🎓</span>
            <span>Program Management</span>
    </a>

        <a href="{% url 'upload_center:upload_center' %}" class="menu-item">
            <span class="icon">⏫</span>
            <span>Upload Center</span>
    </a>

        <a href="{% url 'reports:work_progress_report' %}" class="menu-item">
            <span class="icon">📊</span>
            <span>Reports</span>
        </a>

        <li class="nav-item">
       <a href="{% url 'user_manage:user_management' %}" class="menu-item">
            <span class="icon">👥</span>
            <span>User Management</span>
        </a>
        </li>

        <a href="#" class="menu-item">
            <span class="icon">⚙️</span>
            <span>Settings</span>
        </a>
    </nav>
</aside>