{% load static %}

<!-- SIDEBAR -->
<aside class="sidebar">
    <div class="brand">
        <img src="{% static 'assets/images/logo.png' %}" class="college-logo" alt="logo">

        <div class="brand-text">
            <div class="college-name">
                JAMAL MOHAMED COLLEGE
            </div>
            <div class="college-campus">
                (Autonomous) TIRUCHIRAPPALLI
            </div>
        </div>
    </div>

    <nav class="menu">
        <a href="#" class="menu-item">
            <span class="icon">🏠</span>
            <span>Dashboard</span>
        </a>

        <a href="{% url 'course_management' %}" class="menu-item">
            <span class="icon">📚</span>
            <span>Course Management</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">🎓</span>
            <span>Program Management</span>
        </a>

        <a href="{% url 'upload_center' %}" class="menu-item">
            <span class="icon">⏫</span>
            <span>Upload Center</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">📊</span>
            <span>Reports</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">👥</span>
            <span>User Management</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">⚙️</span>
            <span>Settings</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">❓</span>
            <span>Help & Support</span>
        </a>
    </nav>
</aside>
